// downtime
.downtime {
  z-index: 100;
  position: relative;
  top: 10px;
}

// bg image of site (if found)
.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('../images/126.42.jpg');
  background-size: cover;
  background-position: 50% 0%;
  filter: blur(5px);
  opacity: 0.2;
  transform: scale(1.1);
  transition: all 0.3s;
  @include hardware-acceleration;
}

// Firefox doesn't support blur; fade image more
@-moz-document url-prefix() {
  .bg {
    opacity: 0.08;
  }
}

// styling of container
.container {
  width: 100%;
}

// result container (numbers & info) top padding
.container__top, .container__info {
  margin: 2% 0;
  height: 200px;
}

// styles temporary timer of the previous show
.container__top__previous-show-time {
  position: absolute;
  top: 3.5em;
  left: 0;
  right: 0;
  color: #534e45;
  font-weight: 500;
  letter-spacing: -.1em;
}

// positions the about icon
.about__icon {
  font-size: 2em;
  position: absolute;
  right: 0.5%;
  top: 1%;
  padding: $space;
  opacity: 0.5;
  text-decoration: none !important;
  z-index: 1;
}

// on hover show full opacity
.about__icon:hover,
.about__icon:focus {
  color: $text;
  opacity: 1;
}

// about container overlay
.about__content {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.92);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: opacity 0.3s;
  @include hardware-acceleration;
  z-index: 1;
}

// center content
.about__content__inner {
  margin: 0 auto;
}

// hide content
.about__content.hide {
  opacity: 0;
  z-index: -10;
}

// description under seasons
.seasons-description {
  position: absolute;
  bottom: -25px;
  right: 148px;
  text-transform: capitalize !important;
}

// MODIFIERS

.container--small {
  position: relative;
  z-index: 1;
}

.container--small:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.4);
}